<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>

  <%- include('./partials/nav.ejs') %> 

  <div class="blogs content">
    <h2>All Recipes</h2>
    <% if (typeof user !== 'undefined') { %>
      <% user.recipes.forEach(recipe => { %> 
        <a class="single" href="/user-recipes/<%= recipe[3] %>">
        <h3 class="title"> <%= recipe[0] %>  <%= recipe[2] %></h3>
        </a>
      <% }) %>
    <% } else { %>
      <h3 class="title"> <%= user.title %> </h3>
      <h2 class="title"> <%= user.length %> </h2>
      
      <p>There are no users to display</p>
    <% } %>


  </div>
  
  <%- include('./partials/footer.ejs') %> 

</body>
</html>